<launch>
   
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find abb_irb2400_support)/urdf/irb2400.xacro'" />
  <param name="part_description" textfile="$(find abb_gazebo)/worlds/media/nut.urdf" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model abb_irb2400 -param robot_description"/>
  <!--<node name="urdf_spawner_parts" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -file $(find abb_gazebo)/worlds/media/nut.urdf -model nut -x 1.0 -y 0.5 -z 0.3"/>-->
 
 <!--<node name="complet" pkg="abb_gazebo"  type="complet" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
    <rosparam command="load" file="$(find abb_irb2400_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find abb_irb2400_moveit_config)/config/ompl_planning.yaml"/>
 </node>-->


</launch>
