<launch>
  <!-- Debug Info -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />


  <include file="$(find abb_irb2400_moveit_config_3)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

 <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find abb_irb2400_support)/urdf/irb2400.xacro'" />
  <param name="part_description" textfile="$(find abb_gazebo)/worlds/media/nut.urdf" />

  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_footprint 100" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />


  <node name="poseestimation" pkg="abb_gazebo" type="poseestimation" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
    <rosparam command="load" file="$(find abb_irb2400_moveit_config_3)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find abb_irb2400_moveit_config_3)/config/ompl_planning.yaml"/>
  </node>


</launch>
